<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Posts</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div id="home-page">
        <%- include('header.ejs') %>
        <div id="content">
            <% if(isAuthenticated) { %>
                <h1>Welcome <%= user.username %>!</h1>
            <% } %>
            <% if(posts && posts.length > 0) { %>
                <% posts.forEach(post => { %>
                    <div id="post-card">
                        <ul>
                            <li id="post-title"><%= post.post_title %></li>
                            <li id="post-content"><%= post.content %></li>
                            <% if(isAuthenticated) { %>
                                <li id="post-author">Author: <%= post.author %></li>
                                <li id="post-created-at"><%= post.created_at %></li>
                                <% if(userInfo && userInfo.admin){%>
                                    <li><form action="/delete-post" method="post">
                                        <input type="hidden" name="postId" value="<%= post.post_id %>">
                                        <button type="submit" onclick="return confirm('Delete this post?')">Delete</button>
                                    </form></li>
                                <% } %>
                            <% } %>
                        </ul>
                    </div>
                    <br>
                <% }) %>
            <% } else { %>
                <p>no posts found</p>
            <% } %>
            <div id="extra-buttons">
                <% if(!isAuthenticated) { %>
                    <button onclick="location.href='/log-in'">Log in</button>
                <% } else { %>
                    <button onclick="location.href='/create-post'">Create a Post</button>
                <% } %>
            </div>
        </div>
        <%- include('footer.ejs') %>
    </div>
</body>
</html>